@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Clarissa Joy Flores save your data  <a href="/Form">here</a>.</p>
</div>
